:root {
--primary-color: #363535;
--secondary-color: #fd900f;
--third-color: #f1f1ef;
}

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

p {
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

.btn-primary {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}
.btn-primary:hover {
  background-color: #ffffff00;
  border-color: var(--secondary-color);
  color: var(--secondary-color);
}

.btn-secondary {
  background-color: #ffffff00;
  border-color: var(--secondary-color);
  color: #fd900f;
  border-width: 1px;
}
.btn-secondary:hover {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  color: #fff
}

.btn:active {
  background-color: #ffffff00 !important;
  border-color: var(--secondary-color) !important;
  color: var(--secondary-color) !important;
}


.quantity {
  width: 100% ;
  align-items: center;
}

.quantity i {
  color: #fd900f;
  font-size: 22px;
}



@media (max-width: 767px) {

  .hero-section .carousel-caption { 
    bottom: 20% !important;
  }
  .hero-section .carousel-caption h1 {
    font-size: 36px !important;
  }
  .hero-section .carousel-caption h2 {
    font-size: 36px !important;
  }
  .products-card {
    display: flex;
    flex-direction: row;
  }
  .products-card .card-img-top {
   width: 150px !important;
   height: 145px !important;
   margin: 10px 0px 10px 10px !important
  }
  .products-card .card-body {
    text-align: left;
  }
  .products-card .card-title {
    font-size: 18px !important;
    text-align: left;
  }
  .products-card p {
    text-align: left;
    margin-bottom: 0px;
  }
  .products-card .product-info {
    margin: 0px !important;
  }
  .products-card .btn {
    font-size: 14px !important;
  }
  .products-card .product-info .quantity {
    width: 40% !important;
  }
  .shop-title {
    background-position: 0px !important;
  }
  .products-section .products-cards .row {
    --bs-gutter-x: 0rem !important;
  }
  .product-images {
    height: 320px !important;
  }
  .product-images .image-gallery {
    height: 130px !important;
  }
  .profile-info {
    width: 335px !important;
  }
}


/* header style  */

.header-section .site-info {
  background-color: var(--primary-color);
  color: var(--third-color);
}

.header-section .header-icons i {
 font-size: 28px;
 padding: 10px;
 color: var(--primary-color);
}

.header-section .navbar-brand {
  font-size: 32px;
  color: var(--primary-color);
  font-weight: 900 !important;
}

.header-section nav {
  background-color: var(--primary-color);
}

.header-section nav a {
  color: #f1f1ef;
  margin-right: 15px;
  transition: transform 0.5s;
  padding: 8px 10px;

}

.header-section nav a:hover {
  color: #fff;
  transform: scale(1.1);
  transition: transform 0.5s;
}

.header-section nav a:visited {
  color: #fff;

}

.header-section nav .active {
  border-bottom: 3px solid var(--secondary-color);
  color: #fff !important;
}

.header-section nav .dropdown-item {

  border-radius: 8px;
  color: var(--primary-color) !important;
}

.header-section nav .social-icons {
  color: var(--third-color);
}

.header-section nav .social-icons i {
  margin-left: 12px;
}

.dropdown-item.active, .dropdown-item:active {
  background-color: var(--third-color) !important;
}

.header-icons .bi-bag-fill {
  position: relative;
}

.header-icons .cart-length {
  background-color: #fd900f;
  padding: 2px 5px 0px 5px;
  border-radius: 50px;
  position: absolute;
  top: 8px;
  right: 2px;
  font-size: 14px;
  color: #ffffff;
  font-style: normal;
}


/* hero section */

.hero-section .carousel-inner .carousel-item {
  height: 80vh;
}

.hero-section .carousel-caption {
  bottom: 40%;
  left: 15%;
  text-align: left;
}

.hero-section .carousel-caption h1 {
  font-size: 50px;
}
.hero-section .carousel-caption h2 {
  font-size: 50px;
}
.hero-section .carousel-caption p {
  font-size: 18px;
}


/* Categories section  */

.categories-section {
  margin-top: 100px;
  margin-bottom: 100px;

}

.categories-section hr {
  width: 15%;
  margin: 20px auto;
  border-top: 3px solid var(--secondary-color);
  opacity: 1;
}

.categories-section .cat-img {
  border-radius: 50%;
  width: 175px;
  height: 175px;
  object-fit: cover;
}

.category-boxes .category-item:hover h4 {
  color: var(--primary-color);
}

/* last products section  */

.products-section {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--third-color);
}

.products-section hr {
  width: 15%;
  margin: 20px auto;
  border-top: 3px solid var(--secondary-color);
  opacity: 1;
}

/* product cards  */

.products-card {
  background: #fff;
  border: none;
  box-shadow: 0px 0px 90px rgba(107, 129, 207, 0.2);
  border-radius: 24px;
}

.products-card .card-img-top {
  width: 90%;
  height: 200px;
  border-radius: 12px;
  object-fit: cover;
  margin: 15px auto 5px auto;
}

.products-card .card-body {
  padding: 20px;
}

.products-card .card-title {
  font-size: 20px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
          line-clamp: 1; 
  -webkit-box-orient: vertical
}

.products-card p {
  font-size: 15px;
  margin-top: 5px;
  color: #b3b9c0;
}

.products-card .product-info {
  margin: 10px 15px;
}

.products-card .product-info .quantity {
  width: 35% ;
  align-items: center;
}

.products-card .product-info .quantity i {
  color: #fd900f;
  font-size: 22px;
}

.products-card .product-info .price {
  font-size: 18px;
  color: #363535;
}

.products-cards .row {
  --bs-gutter-x: 2rem !important;
}

.products-cards .row .mt-4{
  margin-top: 30px !important;
}

/* testimonial */

.testimonial-section hr {
  width: 15%;
  margin: 20px auto;
  border-top: 3px solid var(--secondary-color);
  opacity: 1;
}

/* brands  */

.brands-section {
  margin-bottom: 100px !important;
}
.brands-section hr {
  width: 10%;
  margin: 20px auto;
  border-top: 3px solid var(--secondary-color);
  opacity: 1;
}

.brands-section img {
  filter: grayscale(1);
  transition: all 0.5s;
}

.brands-section img:hover {
  transition: all 0.5s;
  transform: scale(1.2);
}


/* footer  */

footer {
  margin-top: 50px;
}

/* contact us  */

#contact i {
  font-size: 24px;
  color: #fd900f;
  background-color: #f1f1ef;
  height: fit-content;  
  border-radius: 50%;
  padding: 10px 15px;
  margin-right: 10px;
}

/* shop */

.shop-title {
  height: 250px;
  background-image: url('../public/images/bg-image.jpg');
  background-position-y: -500px;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
}

.shop-title h1 {
  font-size: 50px;
}

.filter-btn {
  color: var(--secondary-color);
  font-size: 20px;
}
.filter-btn i {
  font-size: 26px;
}

.breadcrumb-item a:hover {
  color: var(--secondary-color) !important;
}

.css-yuzg60-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  background-color: #fd900f !important;
  color: #fff;
}

.css-187mznn-MuiSlider-root {
  color: #fd900f !important;
}

.btn:disabled {
  background-color: #c1b6b6;
  border: none;
}

.product-images {
  height: 450px;
}

.product-images .card-img-top {
  object-fit: cover !important;
}

.related-products {
  margin-bottom: -50px !important;
}

.p-link:hover {
  color: var(--primary-color) !important;
}


/* loading */

.loading-parent {
  height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.lds-default {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-default div {
  position: absolute;
  width: 6px;
  height: 6px;
  background: var(--secondary-color);
  border-radius: 50%;
  animation: lds-default 1.2s linear infinite;
}
.lds-default div:nth-child(1) {
  animation-delay: 0s;
  top: 37px;
  left: 66px;
}
.lds-default div:nth-child(2) {
  animation-delay: -0.1s;
  top: 22px;
  left: 62px;
}
.lds-default div:nth-child(3) {
  animation-delay: -0.2s;
  top: 11px;
  left: 52px;
}
.lds-default div:nth-child(4) {
  animation-delay: -0.3s;
  top: 7px;
  left: 37px;
}
.lds-default div:nth-child(5) {
  animation-delay: -0.4s;
  top: 11px;
  left: 22px;
}
.lds-default div:nth-child(6) {
  animation-delay: -0.5s;
  top: 22px;
  left: 11px;
}
.lds-default div:nth-child(7) {
  animation-delay: -0.6s;
  top: 37px;
  left: 7px;
}
.lds-default div:nth-child(8) {
  animation-delay: -0.7s;
  top: 52px;
  left: 11px;
}
.lds-default div:nth-child(9) {
  animation-delay: -0.8s;
  top: 62px;
  left: 22px;
}
.lds-default div:nth-child(10) {
  animation-delay: -0.9s;
  top: 66px;
  left: 37px;
}
.lds-default div:nth-child(11) {
  animation-delay: -1s;
  top: 62px;
  left: 52px;
}
.lds-default div:nth-child(12) {
  animation-delay: -1.1s;
  top: 52px;
  left: 62px;
}
@keyframes lds-default {
  0%, 20%, 80%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}

.cart-page .card .col-lg-4 {
  border-radius: 0px 12px 12px 0px !important;
}

.login-section .form-outline input {
  font-size: 16px;
  padding: 12px;
}

/* profile page */

.profile-info {
  border: solid 2px #e3e9f1;
  border-radius: 15px;
}

.profile-info div {
  font-size: 18px !important;
  text-align: center;
}


.profile-info div .text-label {
  font-size: 22px;
  font-weight: bold;
}



